{% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Your best pitching site</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">ONE MINUTE PITCH</h1>
              <p class="lead">In life, you only have 60 seconds to impress someone. 1 minute can either make or break you. You only live once, but if you do it right, once is enough.</p>
            </div>
        </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>{{message}}</h3>
                    <a class="btn btn-success btn-lg text-center" href="{{ url_for('main.pitch') }}">Click here to write your Pitch</a>
                </div>
            </div>
    
    </div>
    {% endblock %}
</body>
</html>
